body{
	background-color: pink;
}
.carousel-inner{
	height: 500px;
}
h2{
	font-family: Freestyle Script;
	padding: 60px;
	margin: 80px;
	font-weight: bold;
	font-size: 60px;

}
.intro{
	position: relative;
	left: 1000px;
	bottom: 350px;}

h3{
	font-size: 72px;
	padding: 25px;
	margin-top: 20px;
}
.resize{
	width: 550px;
	height: 400px;
	margin: 20px;
	transition: all 1s;
}
.pics{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img.resize:hover{
	transform: scale(1.1);
}
footer{
	height: 300px;
	background-color: black;
}
p{
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	font-family: Calibri Light;

}
.foot{
	text-align: center;
	
}